body{
    background-color: rgb(253, 207, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* lp : landing page */

.lp-header{
    padding: 20px;
    /* background-color: darkgreen; */
}

.lp-navigation ul li a{
    text-decoration: none;
    color: black;
}

.lp-navigation ul li{
    display: inline;
    list-style-type: none;
    padding: 20px;
    margin: 0 20px;
}

.lp-navigation{
    float: right;
}

.header-logo{
    display: inline-block;
}

.header-logo img{
    height: 60px;
}

#lp-1-container{
    display: inline-block;
    text-align: center;
    line-height: 100%;
    padding: 30px;
    /* background-color: aquamarine; */
}

#lp-1-container h1{
    position: relative;
}

#lp-1-container a{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(37, 37, 245);
    color: white;
    margin: 10px;
    height: 50px;
    width: 300px;
    line-height: 50px;
    border-radius: 50px;
}

#lp-1 img{
    height: 400px;
}