body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
 
}

.lp-header{
    padding: 30px;
    background-color: #FFD700;
    /* background-color: darkgreen; */
    
}

.lp-navigation ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}

.lp-navigation ul li{
    display: inline;
    list-style-type: none;
    padding: 20px;
    margin: 20px 0;
}

.lp-navigation{
    float: right;
}

.header-logo{
    display: inline-block;
}

.header-logo img{
    height: 60px;
}

.faq-logo img {
    width: 50em;
    height: 140 px;
    margin-left:auto;margin-right:auto;display:block;
    margin-top:80px;
    margin-bottom: 70px;;
    
}

.content-faq .q-a{
    background-color: rgba(191, 191, 191, 0.2);
    border: 1px hidden black;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.content-faq .q-a .q {
    color: #DE322E;
    float: inline-start;
    margin-top: 12px;
    margin-bottom: 0px ;
    margin-left: 20px;
    margin-right: -22px;
}

.content-faq .q-a .a {
    color: black;
    float: inline-start;
    margin-top: 55px;
    margin-right: 15px;
}

footer{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 97px;
    margin-top: 120px;
}

footer .q-a .q{
    float: inline-start;
    margin-top: -44px;
    margin-left: 62px;

    font-size: 15px;
    font-weight: bolder;
}

footer .footnote{
    font-size: 12px;
}

footer  .ini-team img{
    width: auto;
    height: 190px;
    float: inline-start;
    margin-top: -60px;
    margin-left: -60px;
    /* margin-right: 82px; */
}

footer  .collabs img{
    width: auto;
    height: 45px;
    float: inline-start;
    margin-top: 5px;
    margin-left: -80px;
    /* margin-right: 82px; */
}

footer  .kmitera img{
    width: auto;
    height: 100px;
    float: inline-start;
    margin-top: -15px;
    margin-left: -40px;
    /* margin-right: 82px; */
}



footer  .itera img{
    width: auto;
    height: 100px;
    float: inline-end;
    margin-top: -15px;
    margin-left: 50px;
    margin-right: 120px;
}

footer  .hmif img{
    width: auto;
    height: 100px;
    float: inline-end;
    margin-top: -15px;
    margin-left: -95px;
    
}
