/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BSMI CSS */

html{
    scroll-behavior: smooth;
}

body{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

/* a:visited{
    color: black;
} */

.white-black{
    background-color: white;
    color: black;
}

.header{
    display: block;
    height: 75px;
    box-shadow: 0 0px 4px grey;
}

.container{
    padding: 10px 60px;
    box-sizing: border-box;
}

.header-container{
    padding: 0 40px;
    box-sizing: border-box;
    margin: auto;
}

.header-logo{
    float: left;
}

.header-logo, .header-nav{
    display: table-cell;
}

.header-logo a{
    display: inline-block;
    line-height: 75px;
}

.header-logo img{
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}

.header-nav{
    width: fit-content;
    float: right;
}

.header-nav li{
    list-style-type: none;
    float: left;
    height: 75px;
    line-height: 75px;
}

.header-nav a{
    display: inline-block;
    height: 75px;
    text-decoration: none;
    padding: 0 20px;
}

.header-nav a:visited{
    color: black;
}

.header-nav li :hover{
    background-color: lightgray;
    display: inline-block;
}

.page-section h3{
    margin: 0 auto;
    height: 150px;
    line-height: 150px;
    font-size: 44px;
    text-align: center;
    font-weight: 800;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-section{
    margin-bottom: 100px;
}

.flexbox-container a{
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px 60px;
    padding: 0 10px;
    box-sizing: border-box;
}

.flexbox-container a:hover{
    background-color: #111111;
}

.jurusan-section a{
    width: 240px;
    height: 240px;
    padding-top: 90px;
    /* line-height: 240px; */
}

.prodi-section a{
    width: 200px;
    height: 150px;
    padding-top: 60px;
    /* line-height: 150px; */
}

.matkul-section a{
    width: 240px;
    height: 140px;
    padding-top: 60px;
    margin: 20px 40px;
}

#up{
    display: none;
}

.title{
    padding-top: 40px;
    box-sizing: border-box;
    font-size: 44px;
    display: block;
    float: left;
}

.search-section{
    float: right;
    padding-top: 40px;
    box-sizing: border-box;
}

.search-bar{
    padding: 4px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 6px;
}

.border-black{
    border: 2px solid black;
}

.button{
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    margin: 40px;
}

.button:hover{
    background-color: black;
    color: white;
}

.lp-page{
    width: 90%;
    margin: auto;
}

.form-input h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.visible-form input[type=text]{
    display: block;
    width: 100%;
    height: 20px;
    border: 2px solid black;
    padding: 4px;
    margin-bottom: 10px;
}

.form-submit{
    float: right;
}

.form-submit #reset, .form-submit #submit, .form-submit input{
    display: inline-block;
    height: 40px;
    width: 80px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
}

.form-submit input[type="reset"]:hover{/*, .form-submit input:hover{*/
    background-color: rgba(255,0,0,0.7);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-submit input[type="submit"]:hover{
    background-color: #00FF00;
    color: white;
    font-weight: bold;
    cursor: pointer;   
} 

.edit-button{
    display: block;
}

.edit-button:hover{
    color: white;
}

.tombol{
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid black;
    height: 40px;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    float: left;
}

.tombol:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
#lp-1-hapusmateri .cancel:hover,#lp-1-hapusmateri #delete:hover{
    cursor: pointer;    
    color: white;   
}

.flexbox-container .video{
    display: inline-block;
    margin: 10px;
    border-radius: 0;
}

#lp-1-deskripsi{
    display: block;
}

.title-1{
    padding-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    font-size: 44px;
    display: block;
    float: left;
    width: 100%;
}

#lp-1-tambahmateri a{
    border:none;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    padding-top: 0.5%;
    background-color: rgba(0,0,255,0.5);
}

#lp-1-hapusmateri .tombol{
    border:none;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.7);
    padding-top:0.5%;
    padding-bottom: 3%;
}

#lp-1-hapusmateri #delete{
    margin-left: 2%;
    width: 15vw;
    border:none;
    height: 5vh;
    text-align: center;
    float: left;
    font-size: 1.5vw;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.7);
}

#lp-1-hapusmateri .cancel{
    margin-top: 1%;
    float: left;
    text-align: center;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.5vw;
    background-color: rgba(0,0,255,0.5);
    line-height: 5vh;
}

#lp-1-deskripsi{
    width: 30%;
    float: left;
    border:1px solid;
    padding: 1%;
}


#lp-1-editdeskripsi{
    position: relative;
    width: 10vw;
    margin-right: -3%;
    margin-bottom: -3%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,255,0.5);
}

.alert {
    margin-top: 1%;
    color: red;
    font-size: 2vh; 
}

.profile-section{
    height: 50px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 20px;
    z-index: 2;
}

#user-identifier{
    float: right;
    width: fit-content;
    position: relative;
}

.user-name, #user-icon{
    display: block;
    height: 50px;
    float: left;
}

#user-icon{
    cursor: pointer;
}

#user-icon img{
    width: 38px;
    margin: 6px 10px;
}

#user-icon:hover + #logout-button{
    visibility: visible;
}

.user-name{
    line-height: 50px;
    box-sizing: border-box;
    margin: 0 10px;
}

#logout-button{
    position: absolute;
    right: 0;
    bottom: -40px;
    visibility: hidden;
}

#logout-button:hover{
    visibility: visible;
}

#logout-button a{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px grey;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 18px;
}

#logout-button span, #logout-button img{
    float: left;
}

#logout-button span{
    line-height: 20px;
    margin: 10px;
}

#logout-button img{
    height: 26px;
    float: right;
    margin: 7px 10px;
}