html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(253, 207, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

/* lp : landing page */

.lp-header{
    padding: 20px;
    /* background-color: darkgreen; */
}

.lp-navigation ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.lp-navigation ul li{
    display: inline;
    list-style-type: none;
    padding: 20px;
    margin: 20px 0;
}

.lp-navigation{
    float: right;
}

.header-logo{
    display: inline-block;
}

.header-logo img{
    height: 60px;
}

#lp-1-container{
    display: inline-block;
    text-align: center;
    height: 400px;
    width: 60%;
    padding: 30px;
    /* background-color: aquamarine; */
    /* float: left; */
    padding-top: 50px;
}

#lp-1-container h1{
    font-size: 48px;
}

#lp-1-container h3{
    font-size: 24px;
    font-weight: 600;
}

#start{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(37, 37, 245);
    color: white;
    margin-top: 40px;
    height: 50px;
    width: 300px;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

#lp-1 img{
    width: 300px;
    float: right;
    margin: 50px 85px;
}

#formPopup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#formContainer{
    margin: auto;
    width: 40%;
    height: 30%;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.form-container input{
    margin: inherit;
    margin-top: 10px;
}

.form-container input[type=text]{
    display: block;
    border-radius: 5px;
    width: 80%;
    border: none;
    background-color: #dddddd;
    font-size: 24px;
    height: 40px;
    padding: 2px 10px;
    box-sizing: border-box;
    text-align: center;
    color: #333333;
}

.form-container input[type=text]:focus{
    outline: none;
}

.form-container input[type=submit], .form-container input[type=button]{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type=submit]{
    background-color: rgb(66, 66, 221);
}

.form-container input[type=button]{
    background-color: rgb(228, 44, 44);
}

/* edit by Aldi */
#lp-1-jurusan{
    display: flex;
    justify-content: center;
    height: 600px;

}

#lp-1-jurusan a{
    position: relative;
    top: 50%;
    left: 4%;
    transform: translate(-10%,-50%);
    text-decoration: none;
    font-size: 2vw;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    margin-right: 25px;
    padding: 10px;
    width: 100%;
    height: 110px;  
    text-align: center;
}

#lp-1-prodi-sains, #lp-1-prodi-jtpi, #lp-1-prodi-jtik{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;    
}

#lp-1-sains h3, #lp-1-jtpi h3, #lp-1-jtik h3{
    text-align: center;
    font-size: 2vw;
}
#lp-1-prodi-sains a, #lp-1-prodi-jtpi a, #lp-1-prodi-jtik a{
    font-size: 1.3vw;
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    width: 30%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 150px;
    line-height: 100px;
    border-radius: 10px;
    }

#up{
    position: fixed;
    bottom: 1%;
    left: 92%; 
}

#up img{
    height: 100px;
    width: 100px;
    background-color: lavender;
    border-radius: 50%;
}

#lp-1-prodi{
    margin-left: 5%;
    font-size: 2vw;
    width: 50%;
    border-radius: 10px;
    float: left;
}

#lp-1-cari input{
    font-size: 3vh;
    border-radius: 10px;
    float: right;
    margin-top: 4%;
    width: 15%;
    background-color: rgb(253, 207, 0);
    border-color: #000;
    padding: 0.5%;
    margin-right: 5%;
}
#lp-1-cari select{
    font-size: 3vh;
    border-radius: 10px;
    float: right;
    margin-top: 4%;
    width: 8%;
    background-color: rgb(253, 207, 0);
    border-color: #000;
    padding: 0.5%;
    margin-right: 3%;   
}

#lp-1-prodi-carimatkul,#lp-1-prodi-carisoal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-radius: 10px;       
}

#lp-1-prodi-matkul,#lp-1-prodi-pilihberkas{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;    
}

#lp-1-prodi-carimatkul a,#lp-1-prodi-matkul a{
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    width: 25%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 150px;
    line-height: 100px;
    border-radius: 10px;
    font-size: 2vh;
}

#lp-1-berkas{
    margin-left: 5%;
    font-size: 2vw;
    width: 50%;
    border-radius: 10px;
}

#lp-1-deskripsi{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 0.7vw;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;   
    margin-bottom: 5%;
}

#lp-1-deskripsi h2{
    padding: 3%;
    margin-top: -5%;
}

#lp-1-prodi-pilihberkas a{
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    width: 25%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 10%;
    border-radius: 10px;
    font-size: 2vh;   
}

#lp-1-prodi-matkul #video{
    width: 30%;
    left: 1%;
    right: 1%;
}

#lp-1-prodi-matkul input{
    margin-right: 5%;
}

#lp-1-tambahmateri,#lp-1-hapusmateri #batal{
    margin-left: 5%;
    float: left;
    width: 13%;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: #0000FF;
}

#lp-1-hapusmateri a{
    margin-left: 5%;
    float: left;
    width: 13%;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: red;
}

#lp-1-hapusmateri #hapus{
    margin-left: 2%;
    width: 13%;
    height: 10vh;
    text-align: center;
    float: left;
    margin-top: 0.1%;
    border-radius: 10px;
    background-color: red;
}

#lp-1-tambahmateri a,#lp-1-hapusmateri #hapus,#lp-1-hapusmateri a{
    text-decoration: none;
    color: #fff;
    font-size: 2.5vh;

}

#form-addmateri{
    width: 50%;
    margin-left: 5%;
    padding: 1%;
}

#form-addmateri h3{
    margin-bottom: .2%;
}

#form-addmateri input[name="judul_materi"],#form-addmateri input[name="judul_soal"]
,#form-addmateri input[name="tahun_soal"],#form-addmateri input[name="judul_video"],
#form-addmateri input[name="link_video"]{
    width: 100%;
    font-size: 2.5vh;
    margin-bottom: 1%;
}

#form-addmateri input[type="reset"],input[type="submit"]{
    margin-top: 1%;
    font-size: 3vh;
    background-color: #0000ff;
    color: #fff;
    border-radius: 10%;
    float: right;
    margin-top: 5%;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  width: 50%;
  height: 150px;
}
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  color: #000;
  top: 35%;
  font-size: 2vh;
}
.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  color: #000;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

#alert {
    color: red;
    width: auto;
    font-size: 2vh; 
    border-radius: 10px;
}