html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFD700;
    font-family:  'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

.center{
    margin: auto;
}

.login-container{
    width: 200px;
}

/* lp : landing page */

.lp-header{
    padding: 30px;
    /* background-color: darkgreen; */
}

.lp-navigation ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}

.lp-navigation ul li{
    display: inline;
    list-style-type: none;
    padding: 20px;
    margin: 20px 0;
}

.lp-navigation{
    float: right;
}

.header-logo{
    display: inline-block;
}

.header-logo img{
    height: 60px;
}

#lp-1-container{
    display: inline-block;
    text-align: center;
    height: 400px;
    width: 60%;
    padding: 30px;
    /*background-color: aquamarine; */
    /* float: left; */
    padding-top: 50px;
}

#lp-1-container h1{
    font-size: 4vw;
}

#lp-1-container h3{
    font-size: 2vw;
    font-weight: 600;
}

#start{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(37, 37, 245);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    height: 8vh;
    width: 20vw;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

#lp-1-container-img{
    margin-top: 5%;
    width: 25%;
    float: right;
}
#lp-1-container-img img{
    height: 50vh;
}

#formPopup{
    display: none; /* Hidden by default */
}

.form-container{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    
}

#formContainer{
    margin: auto;
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.input-form input{
    margin: inherit;
    margin-top: 10px;
}

.input-form input[type=text]{
    display: block;
    border-radius: 5px;
    width: 80%;
    border: none;
    background-color: #dddddd;
    font-size: 24px;
    height: 40px;
    padding: 2px 10px;
    box-sizing: border-box;
    text-align: center;
    color: #333333;
}

.input-form input[type=text]:focus{
    outline: none;
}

.input-form input[type=submit], .input-form input[type=button]{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.input-form input[type=submit]{
    background-color: rgb(66, 66, 221);
}

.input-form input[type=button]{
    background-color: rgb(228, 44, 44);
}

.login-form-card{
    background-color: white;
    width: 400px;
    margin: 100px auto;
    border-radius: 10px;
    height: fit-content;
    padding: 40px;
    box-sizing: border-box;
}

.login-form-container{
    margin: auto;
    text-align: center;
    width: 80%;
}

#login-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.login-form-container form input{
    display: block;
    margin: 15px auto;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0 10px;
    box-sizing: border-box;
}

.login-form-container form input[type=submit]{
    background-color: rgba(6, 6, 224, 0.842);
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
}

/* edit by Aldi */
#lp-about{
    margin-top: 6%;
    height: 55vh;
    background-color: #fff;
}
#lp-about-1{
    height: 50vh;
    width: 100%;
}

#container-about{
    float: right;
    width: 60%;
    margin-right: 5%;
    margin-top: 5%;
}

#lp-about h1{
    font-size: 4vh;
}

#lp-about h3{
    font-size: 3vh;

}
#container-about h1,#container-about h3{
    text-align: center;
}

#container-img{
    margin-top: 1.5%;
    margin-left: 5%;
    width: 25%;
    float: left;
}

#container-img img{
    height: 50vh;
}
#fasilitas{
    height: 45vh;
    display: flex;
}
#fasilitas h2{
    margin: 1%;
    background-color: #000;
    color: #fff;
    width: 30%;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 2.5vh;
    text-align: center;
}
#fasilitas h2 img{
    margin: 5%;
    width: 50%;
    height: 45%;
}

#lp-about-1 h1{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
}

#lp-1-jurusan{
    display: flex;
    justify-content: center;
    height: 600px;

}

#lp-1-jurusan a{
    position: relative;
    top: 50%;
    left: 4%;
    transform: translate(-10%,-50%);
    text-decoration: none;
    font-size: 2vw;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    margin-right: 25px;
    padding: 10px;
    width: 100%;
    height: 110px;  
    text-align: center;
}

#lp-1-prodi-sains, #lp-1-prodi-jtpi, #lp-1-prodi-jtik{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;    
}

#lp-1-sains h3, #lp-1-jtpi h3, #lp-1-jtik h3{
    text-align: center;
    font-size: 2vw;
}
#lp-1-prodi-sains a, #lp-1-prodi-jtpi a, #lp-1-prodi-jtik a{
    font-size: 1.3vw;
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    width: 30%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 150px;
    line-height: 100px;
    border-radius: 10px;
    }

#up{
    position: fixed;
    bottom: 0%;
    left: 95%; 
}

#up img{
    height: 6vh;
    width: 4vw;
    background-color: lavender;
    border-radius: 50%;
}

#lp-1-prodi{
    margin-left: 5%;
    font-size: 2vw;
    width: 50%;
    border-radius: 10px;
    float: left;
}

#lp-1-cari input{
    font-size: 3vh;
    border-radius: 10px;
    float: right;
    margin-top: 4%;
    width: 15%;
    background-color: rgb(253, 207, 0);
    border-color: #000;
    padding: 0.5%;
    margin-right: 5%;
}
#lp-1-cari select{
    font-size: 3vh;
    border-radius: 10px;
    float: right;
    margin-top: 4%;
    width: 8%;
    background-color: rgb(253, 207, 0);
    border-color: #000;
    padding: 0.5%;
    margin-right: 3%;   
}

#lp-1-prodi-carimatkul,#lp-1-prodi-carisoal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-radius: 10px;       
}

#lp-1-prodi-matkul,#lp-1-prodi-pilihberkas{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;    
}

#lp-1-prodi-carimatkul a,#lp-1-prodi-matkul a{
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    width: 25%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 150px;
    line-height: 100px;
    border-radius: 10px;
    font-size: 2vh;
}

#lp-1-berkas{
    margin-left: 5%;
    font-size: 2vw;
    width: 50%;
    border-radius: 10px;
}

#lp-1-deskripsi{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 0.7vw;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;   
    margin-bottom: 5%;
}

#lp-1-deskripsi h2{
    padding: 3%;
    margin-top: -5%;
}

#lp-1-prodi-pilihberkas a{
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    width: 25%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 10%;
    border-radius: 10px;
    font-size: 2vh;   
}

#lp-1-prodi-matkul #video{
    width: 30%;
    left: 1%;
    right: 1%;
}

#lp-1-prodi-matkul input{
    margin-right: 5%;
}

#lp-1-tambahmateri,#lp-1-hapusmateri #batal{
    margin-left: 5%;
    float: left;
    width: 13%;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: #0000FF;
}

#lp-1-editdeskripsi{
    margin-left: 5%;
    float: left;
    width: 13%;
    height: 8vh;
    text-align: center;
    border-radius: 10px;
    background-color: #0000FF;
}

#lp-1-hapusmateri a{
    margin-left: 5%;
    float: left;
    width: 13%;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    background-color: red;
}

#lp-1-hapusmateri #hapus{
    margin-left: 2%;
    width: 13%;
    height: 10vh;
    text-align: center;
    float: left;
    margin-top: 0.1%;
    border-radius: 10px;
    background-color: red;
}

#lp-1-tambahmateri a,#lp-1-editdeskripsi a,#lp-1-hapusmateri #hapus,#lp-1-hapusmateri a{
    text-decoration: none;
    color: #fff;
    font-size: 2.5vh;

}

#form-addmateri{
    width: 50%;
    margin-left: 5%;
    padding: 1%;
}

#form-addmateri h3{
    margin-bottom: .2%;
}

#form-addmateri input[name="judul_materi"],#form-addmateri input[name="judul_soal"]
,#form-addmateri input[name="tahun_soal"],#form-addmateri input[name="judul_video"],
#form-addmateri input[name="link_video"]{
    width: 100%;
    font-size: 2.5vh;
    margin-bottom: 1%;
}

#form-addmateri input[type="reset"],#form-addmateri input[type="submit"]{
    margin-top: 1%;
    font-size: 3vh;
    background-color: #0000ff;
    color: #fff;
    border-radius: 10%;
    float: right;
    margin-top: 5%;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  width: 50%;
  height: 150px;
}
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  color: #000;
  top: 35%;
  font-size: 2vh;
}
.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  color: #000;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

#alert {
    color: red;
    width: auto;
    font-size: 2vh; 
    border-radius: 10px;
}



/* footer */

footer{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 97px;
    margin-top: 120px;
}

footer .q-a .q{
    float: inline-start;
    margin-top: -44px;
    margin-left: 62px;

    font-size: 15px;
    font-weight: bolder;
}

footer .footnote{
    font-size: 12px;
}

footer  .ini-team img{
    width: auto;
    height: 190px;
    float: inline-start;
    margin-top: -60px;
    margin-left: -60px;
    /* margin-right: 82px; */
}

footer  .collabs img{
    width: auto;
    height: 45px;
    float: inline-start;
    margin-top: 5px;
    margin-left: -80px;
    /* margin-right: 82px; */
}

footer  .kmitera img{
    width: auto;
    height: 100px;
    float: inline-start;
    margin-top: -15px;
    margin-left: -40px;
    /* margin-right: 82px; */
}



footer  .itera img{
    width: auto;
    height: 100px;
    float: inline-end;
    margin-top: -15px;
    margin-left: 50px;
    margin-right: 120px;
}

footer  .hmif img{
    width: auto;
    height: 100px;
    float: inline-end;
    margin-top: -15px;
    margin-left: -95px;
    
}
